@mixin hover() {
	transition: background-color .3s;
}

.btn {
	border:none;
	&:focus {
		border: none;
		outline: none;
	}
}

.btn-primary {
	@include hover();
	background-color: $base-blue;
	&:hover {
		background-color: $dark-blue;
	}
}

.btn-info {
	@include hover();
	background-color: $light-gray;
	color: lighten($black, 25%);
	&:hover {
		background-color: $base-gray;
		color: $black;
	}
}

.btn-success {
	@include hover();
	background-color: $light-green;
	&:hover {
		background-color: $base-green;
	}
}

.btn-warning {
	@include hover();
	background-color: $light-yellow;
	&:hover {
		background-color: $base-yellow;
	}
}

.btn-danger {
	@include hover();
	background-color: $base-orange;
	&:hover {
		background-color: $dark-orange;
	}
}